- flash.each do |key, message|
  - bootstrap_class = case key.to_sym
    - when :notice then "alert alert-success"
    - when :alert  then "alert alert-danger"
    - when :info   then "alert alert-info"
    - when :warning then "alert alert-warning"
    - else "alert alert-secondary"
  .mt-3
    .container
      .alert{ class: bootstrap_class, role: "alert" }
        = message
        %button.btn-close{"data-bs-dismiss" => "alert", "aria-label" => "Close"}
